RESEND_API_KEY=
RESEND_WEBHOOK_SECRET=
SEND_FROM=
COOKIE_SECURE=false
OIDC_ISSUER=
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
OIDC_REDIRECT_URI=
OIDC_SCOPE=openid profile email offline_access
OIDC_POST_LOGOUT_REDIRECT_URI=
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:admin@doughmination.gay
